.span8.left
  %h5 
    My love for animals began when I was about 9 years old when I started working at a 20- acre horse farm in exchange for riding lessons. 
  %br
  %br
  %h5
    It all started with feeding 20 horses 2 times a day all summer as well as barn maintenance (dirty work). 
  %br
  %br
  %h5
    I also cared for all types of animals from the the farm dogs to wild animals that needed to be nursed back to health. 
  %br
  %br
  %h5
    From then on, I helped my friends and family watch their pets and they referred me to their friends who like they way I treat their pets like my own, and the rest is history! 
  %br
  %br
  %h5
    Being able to help you and your animals is more than a dream come true to me, and I will be looking forward to meeting you and your pets soon!

.span4.right
  =image_tag 'vz.jpeg'
%div{:style=>'clear:both'}
%h6
  Your Ocala Pet Sitting Specialist, 
  %br
  Vanessa
