%p
  %h4 
    This licensed business is designed to meet all of your pet sitting needs!
  %h4.left
    Keep your pets at ease in the comfort of your own home, 
    %br
    %br
    and allow them to
    have a lot of fun too
    %br
    %br
    I will keep your pets busy and happy while you are away.
    %br
    %br
    I service anywhere in the Ocala community.
    %br
    %br
    I have a wealth of experience, being a pet owner myself
    %br
    %br
  %div.right
    =image_tag 'dogs.jpeg', {:style=>'margin-right:150px'}
  %div{:style=>'clear:both'}
  %h5.span6
    We all love our pets, and if it were up to us, we would take them everywhere. Unfortunately, not everybody feels the same way. Many hotels and resorts just do not allow pets. Sometimes, the responsibility of owning a pet includes inconveniences. For example, your aunt that you are going to visit can't stand to be around your cat, or when your iguana will never stand a chance if you bring him on that Colorado ski trip! Leaving your pets sometimes is inevitable, and a reality with most pet owners.
  %h5.span6
    That’s why I’m here to help ~ I am a responsible, experienced sitter with reasonable, affordable rates! Please view our Services and About Us page for rate information.
  %h6.span10
    Reasons for needing a pet sitter
    %ul
      %li Not able to afford a kennel / Uncomfortable with kennels
      %li Vacations/ Business trips
      %li Last minute out of town emergencies
      %li Long hours at work, etc.
      %li Physically challenged / need help with cleaning, playing, walking, feeding, etc.
      %li Secure key holding (no locksmith!)
      %li Pet taxi to park, vet, and groomers
      %li Family or pet illness
      %li New puppy mid-day breaks
    %h6.left
      No more asking friends and neighbors for favors!
      Keep your house in clean, beautiful condition!
      Give them a good time! 
