%h2 Services
%div.left
  %h4 
    Day Rates
  %ul
    %li $20 / day
    %li $30/ Twice a day
    %li $40/ 3 times a day
    %li Additional $10 Every visit (per day)
    %li $50 Over-night stays
%div.right
  =image_tag 'dog_horse.jpeg', :style=>'margin-right:200px'
%div{:style=>'clear:both'}
%div
  Pet taxi counts as 1 visit ($20 to and from) in the Ocala area only.
  %br
  For abnormal requests, please contact me for more information.
  %hr
.span10
  %br
  %br
  I want you to know how much fun they're going to have while you're away and they will be well taken care of! 
.span10
  %br
  %br
  Caring for your pets will include greeting them, taking them out to the bathroom/walks/cleaning their litter or bedding, feeding them according to your instructions with fresh water, distribute any medications, followed by a fun play time as well as a final bathroom break before I depart. 
.span10
  %br
  %br
  Each visit typically takes from 45 minutes to 1 hour unless instructed otherwise (additional time will be extra). 
.span10
  %br
  %br
  Additional pet taxi will counts as 1 day visit ($20).
.span10
  %br
  %br
  I will also bring in mail, newspapers, water indoor and outdoor plants, etc. to keep your house in lived in condition. For any other questions about rates and services, feel free to contact me. 
  %br
  %br
  %br
  %br
